<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Portail LLT</display-name>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.llt.servlets.LoginServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.llt.servlets.LogoutServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RecuperationGroup</display-name>
		<servlet-name>RecuperationGroup</servlet-name>
		<servlet-class>com.llt.servlets.RecuperationGroup</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RecuperationUsers</display-name>
		<servlet-name>RecuperationUsers</servlet-name>
		<servlet-class>com.llt.servlets.RecuperationUsers</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RecuperationUsersGroup</display-name>
		<servlet-name>RecuperationUsersGroup</servlet-name>
		<servlet-class>com.llt.servlets.RecuperationUsersGroup</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>createUserAdmin</display-name>
		<servlet-name>createUserAdmin</servlet-name>
		<servlet-class>com.llt.servlets.createUserAdmin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>createUser</display-name>
		<servlet-name>createUser</servlet-name>
		<servlet-class>com.llt.servlets.createUser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>redirection</display-name>
		<servlet-name>redirection</servlet-name>
		<servlet-class>com.llt.servlets.redirection</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>createGroupAdmin</display-name>
		<servlet-name>createGroupAdmin</servlet-name>
		<servlet-class>com.llt.servlets.createGroupAdmin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>deleteUser</display-name>
		<servlet-name>deleteUser</servlet-name>
		<servlet-class>com.llt.servlets.deleteUser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>deleteGroup</display-name>
		<servlet-name>deleteGroup</servlet-name>
		<servlet-class>com.llt.servlets.deleteGroup</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>changeStateUser</display-name>
		<servlet-name>changeStateUser</servlet-name>
		<servlet-class>com.llt.servlets.changeStateUser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>changeGroupUser</display-name>
		<servlet-name>changeGroupUser</servlet-name>
		<servlet-class>com.llt.servlets.changeGroupUser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>sendInfoUser</display-name>
		<servlet-name>sendInfoUser</servlet-name>
		<servlet-class>com.llt.servlets.sendInfoUser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>updateUser</display-name>
		<servlet-name>updateUser</servlet-name>
		<servlet-class>com.llt.servlets.updateUser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>WebReport</display-name>
		<servlet-name>WebReport</servlet-name>
		<servlet-class>com.llt.birt.WebReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecuperationGroup</servlet-name>
		<url-pattern>/RecuperationGroup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecuperationUsers</servlet-name>
		<url-pattern>/RecuperationUsers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecuperationUsersGroup</servlet-name>
		<url-pattern>/RecuperationUsersGroup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>createUserAdmin</servlet-name>
		<url-pattern>/createUserAdmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>createUser</servlet-name>
		<url-pattern>/createUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>redirection</servlet-name>
		<url-pattern>/redirection</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>createGroupAdmin</servlet-name>
		<url-pattern>/createGroupAdmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteUser</servlet-name>
		<url-pattern>/deleteUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteGroup</servlet-name>
		<url-pattern>/deleteGroup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>changeStateUser</servlet-name>
		<url-pattern>/changeStateUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>changeGroupUser</servlet-name>
		<url-pattern>/changeGroupUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sendInfoUser</servlet-name>
		<url-pattern>/sendInfoUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updateUser</servlet-name>
		<url-pattern>/updateUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebReport</servlet-name>
		<url-pattern>/WebReport</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
</web-app>
